@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

html, body{
    font-family: 'Open Sans', sans-serif;
    color: #222;
}

.nav-item {
    padding: 0 1.5625rem;
}

.navbar-light .navbar-nav .nav-link{
    color: #565656;
    font-size: 1.125rem;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #0991ff;
}

.navbar-light .navbar-nav .active > .nav-link {
    color: #565656;
    font-weight: 700;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.carousel-caption h1 {
    font-size: 6.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.carousel-caption h3 {
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 3rem;
}

.btn-primary {
    background-color: transparent;
    border-color: #ffffff;
    border-width: 2px;
    border-radius: 10px;
    font-weight: 700;
    padding: 10px 25px;
}

.btn-primary:hover {
    background-color: #0991ff;
    border-color: #0991ff;
}

.welcome {
    width: 65%;
    margin: 0 auto;
    padding-top: 6.25rem;
}

.welcome hr {
    border-top: 2px solid #33a0ac;
    width: 95%;
    margin-top: 1.5625rem;
    margin-bottom: 1.5625rem;
}

h1.kop {
    color: #33a0ac;
}

h1.kop2 {
    color: #33a0ac;
    margin-bottom: 1.5625rem;
}

h1.kop3 {
    color: #ffffff;
    margin-bottom: 3.125rem;
}

p.lead {
    margin: 0 auto 12.5rem auto;
    width: 85%;
}

.bullets {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 6.25rem;
}

h3.description {
    color: #ffffff;
    font-size: 1.5rem;
}

.bullet-img {
    margin-bottom: 1.5rem;
}

.column {
    width: 80%;
    margin: 0 auto;
}

.block {
    border-radius: 1em;
    height: 27rem;
    padding: 2em;
    margin: 6.25rem 5rem 15.625rem 5rem;
}

h4.block-kop {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
    color: #565656;
}

h4.block-kop-wit {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
}

p.block-text {
    color: #565656;
    padding-bottom: 5rem;
}
p.block-text-wit {
    color: #ffffff;
    padding-bottom: 5rem;
}

p.lead2 {
    margin: 0 auto 2.5rem auto;
}